*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --blue-color: rgb(51, 85, 170);
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

/* Global stylings */

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.ml-auto {
    margin-left: auto;
}


/* Form */

.form {
    background-color: white;
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    z-index: 1;
}

.input-group {
    margin: 0.5rem 0;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
    transform-origin: top;
    animation: animate .5s;
}


/* Button */
.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    width: min-content;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-next {
    background-color: var(--blue-color);
    color: white;
    float: right;
}

.btn-prev {
    background-color: #777;
    color: #fff;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--blue-color);
}

textarea {
    resize: vertical;
}

/* Prefixes */

.input-box {
    display: flex;
    align-items: center;
    /* max-width: 300px; */
    background: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
}

.input-box .prefix {
    font-weight: 300;
    font-size: 14px;
    color: rgb(117, 114, 114);
}

.input-box input {
    border: none;
    outline: none;
}

.input-box:focus-within {
    border-color: #777;
}

/* End Prefixes */


/* Progress bar */

.progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin-bottom: 30px;
}

.progress-bar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    background-color: var(--blue-color);
    width: 0;
    transition: .5s;
}

.progress-step {
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.20rem);
    font-size: 0.85rem;
    color: black !important;
}

.progress-step.active {
    background-color: var(--blue-color);
    color: white;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

/* End Progress bar */

/* Add Experience Btn */


.add-exp-btn {
    color: #577d4c;
    border-right: 2px solid #577d4c;
    border-bottom: 2px solid #577d4c;
    padding: 0 10px 10px 0;
    text-decoration: none;
    font-weight: 600;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.add-experience {
    margin-bottom: 20px;
}